<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Login</title>
    
</head>

<body>
    <header>
        <p>Não tem uma conta?</p>
        <button>Cadastre-se</button>
    </header>
    <main>
        <div class="conteiner1">
            <div>
                <h2>Bem vindo ao Dash Finanças!</h2>
                <p>Registre sua conta</p>
            </div>


            <form action="">
                <div class="input">
                    <label for="username">Usuário</label>
                    <input pInputText id="username" aria-describedby="username-help" />
                </div>

                <div class="input">
                    <label for="usuario">E-mail</label>
                    <input name="email" pInputText id="usuario" aria-describedby="username-help"
                        [(ngModel)]="email_input" />
                </div>

                <!-- <div class="input">
                    <label for="usuario">Senha</label>
                    <input name="senha" pInputText id="usuario" aria-describedby="username-help"
                        [(ngModel)]="senha_input" />
                </div> -->
                <div class="input">
                    <label for="">Senha</label>
                    <p-password name="dada" [(ngModel)]="senha_input" [toggleMask]="true" />
                </div>




            </form>

            <!-- HTML !-->
            <button class="button-3" role="button">Entrar</button>

        </div>

        <div class="conteiner2">
            <div>
                <h2>Bem vindo ao Dash Finanças!</h2>
                <p>Registre sua conta</p>
            </div>


            <form action="">
                <div class="user">
                    <label for="username">Username</label>
                    <input pInputText id="username" aria-describedby="username-help" />
                </div>

                <div class="flex flex-col gap-2">
                    <label for="usuario">E-mail</label>
                    <input name="email" pInputText id="usuario" aria-describedby="username-help"
                        [(ngModel)]="email_input" />
                </div>

                <div class="flex flex-col gap-2">
                    <label for="usuario">Senha</label>
                    <input name="senha" pInputText id="usuario" aria-describedby="username-help"
                        [(ngModel)]="senha_input" />
                </div>




            </form>

            <button>Entrar</button>

        </div>
    </main>
</body>

</html>