<main class="tela-dividida">

    <div class="lado-visual">
        <div class="conteudo-visual">
            <div class="texto-lado-visual">
                <h1>Dash Finanças</h1>
                <p>Gerencie seu dinheiro de forma mais inteligente!</p>

            </div>

            <div class="animacao-container">
                <ng-lottie [options]="options"></ng-lottie>
            </div>
        </div>
    </div>

    <div class="lado-formulario">


        <div class="form-box">
            <div class="cabecalho-form">
                <h2>Bem vindo!</h2>
                <p>Insira seus dados para entrar.</p>
            </div>

            <form>
                <div class="input-group">
                    <label for="email">E-mail</label>
                    <input pInputText id="email" name="email" [(ngModel)]="dadosLogin.email"
                        placeholder="Insira seu e-mail..." />
                </div>

                <div class="input-group">
                    <label for="senha">Senha</label>
                    <p-password id="senha" name="senha" [(ngModel)]="dadosLogin.senha" [toggleMask]="true"
                        [feedback]="false" placeholder="••••••" [inputStyle]="{'width':'100%'}"> </p-password>
                </div>

                <div class="botao">
                    <button class="button-33" role="button" (click)="fazerLogin()">Entrar</button>
                </div>

                <p class="cadastrar">Não tem uma conta?&nbsp;<a routerLink="/cadastro">Cadastre-se</a></p>



            </form>
        </div>
    </div>

</main>