 
.tela-dividida {
    display: flex;        
    height: 100vh;        
    width: 100%;
    overflow: hidden;    
}

 
.lado-visual {
    flex: 1;              
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(93, 236, 158);
    color: rgb(255, 255, 255);
    padding: 2rem;

    .texto-lado-visual{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.conteudo-visual h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

 
@media (max-width: 768px) {
    .lado-visual {
        display: none;
    }
}

// form{
//     display: flex;
//     flex-direction: column;
//     align-items: center;
// }

 
.lado-formulario {
    flex: 1;              
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;      
}

.lado-formulario .cadastrar {
    font-size: 0.9rem;  
}

.cadastrar{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.lado-formulario .cadastrar a {
    color: #00A868;
    font-weight: bold;
    text-decoration: none;
}

.form-box {
    width: 100%;
    max-width: 400px; 
    padding: 1rem;
}

.cabecalho-form {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cabecalho-form h2 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
    color: #333;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    gap: 0.5rem;
}

.input-group label {
    font-weight: 500;
    color: #555;
}

:host ::ng-deep .p-inputtext {
    width: 100%;
}

.animacao-container {
    width: 100%;
    max-width: 400px; 
    height: 350px;
    margin-top: 2rem; 
}


.button-33 {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  width: 50%;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-33:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

.botao{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}