.div-principal {
    height: 100%;
    width: 100%;
    display: flex;

    .sidebar {
        display: flex;
        flex-direction: column;
        align-items: center;

        .logo-sidebar {
            height: 80px;
            width: 150px;
        }

        background-color: red;
        display: flex;
        flex-direction: column;
        width: 180px;
        height: 590px;

        ul {
            display: flex;
            flex-direction: column;
            gap: 10px;
            justify-items: center;
            align-items: center;
            list-style: none;

            p {
                margin: 0;
            }

            li {
                display: flex;
                width: 150px;
                gap: 5px;
                // span{
                //     width: 20px;
                //     height: 20px;
                // }
            }
        }
    }

    main {
        height: 100%;
        flex: 1;

        .stepper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            /* Centraliza verticalmente */
            min-height: 80vh;
            /* Precisa ter altura para poder centralizar */
            width: 100%;
            /* Tenta ocupar tudo */
            max-width: 800px;
            /* MAS... para de crescer quando chegar em 800px */
            margin: 0 auto;

            .conteudo-stepper1 {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .conteudo-stepper2 {
                display: flex;
                gap: 10px;
                align-items: center;
                margin-bottom: 20px;

                .tabela-gastos-container {
                    margin-top: 1.5rem;
                    /* Espaço em cima */
                    width: 100%;
                    max-width: 500px;
                    margin-bottom: 2rem;
                    /* <--- O espaço em baixo que você queria */
                }

                div {
                    margin-bottom: 40px;
                }
            }
        }

        .inicio {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}