<div class="div-principal">
    <aside class="sidebar">
        <img class="logo-sidebar" src="assets/wmremove-transformed-removebg-preview.png" alt="">
        <ul>

            <li><span class="material-symbols-outlined">
                    home
                </span>
                <p>Tela Inicial</p>
            </li>
            <li><span class="material-symbols-outlined">settings</span>
                <p>Configurações</p>
            </li>
            <li><span class="material-symbols-outlined">
                    logout
                </span>
                <p>Logout</p>
            </li>
        </ul>
    </aside>
    <main>
        <div class="stepper">
            <div class="inicio">
                <h1>Vamos Começar!</h1>
            </div>

            <div class="card flex justify-center">
                <p-stepper [value]="1" class="basis-[50rem]" [linear]="true">
                    <p-step-list>
                        <p-step [value]="1">Seu orçamento</p-step>
                        <p-step [value]="2">Gastos Mensais</p-step>
                        <p-step [value]="3">Resumo</p-step>
                    </p-step-list>
                    <p-step-panels>
                        <p-step-panel [value]="1">
                            <ng-template #content let-activateCallback="activateCallback">
                                <div class="flex flex-col h-48">
                                    <div
                                        class="border-2 border-dashed border-surface-200 dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 flex-auto flex justify-center items-center font-medium">
                                        <div class="conteudo-stepper1">
                                            <p>Insira o seu orçamento mensal:</p>
                                            <p-inputnumber [(ngModel)]="orcamento_input" inputId="minmax" mode="decimal"
                                                [min]="0" />

                                        </div>

                                    </div>
                                </div>
                                <div class="flex pt-6 justify-end">
                                    <p-button label="Avançar" icon="pi pi-arrow-right" iconPos="right"
                                        (onClick)="activateCallback(2)" [disabled]="!(orcamento_input > 0)" />
                                </div>
                            </ng-template>
                        </p-step-panel>

                        <p-step-panel [value]="2">
                            <ng-template #content let-activateCallback="activateCallback">
                                <div class="flex flex-col h-48">
                                    <!-- <div
                                        class="border-2 border-dashed border-surface-200 dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 flex-auto flex justify-center items-center font-medium">
                                        <h2>Informe seus gastos mensais. (Um de cada vez)</h2>
                                        <p>Com base nos seus gastos informados lhe retornaremos uma visão geral de
                                            suas despesas.</p>
                                        <div class="conteudo-stepper2">
                                            <input type="text" pInputText [(ngModel)]="gasto_mensal" />
                                            <p-button label="Adicionar" icon="pi pi-plus" size="small"
                                            severity="success" />
                                        </div>
                                    </div> -->
                                    <div
                                        class="border-2 border-dashed border-surface-200 rounded p-4 flex flex-column align-items-center">

                                        <h2>Informe seus gastos mensais</h2>
                                        <p class="mb-4">Adicione suas despesas fixas (Aluguel, Internet, Academia, etc).
                                        </p>

                                        <div class="conteudo-stepper2 flex gap-2 align-items-center">

                                            <input type="text" pInputText [(ngModel)]="tempGastoNome"
                                                placeholder="Nome (Ex: Luz)" />

                                            <p-inputNumber [(ngModel)]="tempGastoValor" mode="currency" currency="BRL"
                                                locale="pt-BR" placeholder="R$ 0,00">
                                            </p-inputNumber>

                                            <p-button icon="pi pi-plus" (onClick)="adicionarGastoNaLista()"
                                                severity="success" [disabled]="!tempGastoNome || !tempGastoValor">
                                            </p-button>

                                        </div>

                                        <div *ngIf="listaGastosIniciais.length > 0" id="tabela-gastos" class="mt-4 w-full"
                                            style="max-width: 500px; margin-bottom: 5rem;">
                                            <p-table [value]="listaGastosIniciais" size="small"
                                                [tableStyle]="{'min-width': '20rem'}">
                                                <ng-template pTemplate="header">
                                                    <tr>
                                                        <th>Gasto</th>
                                                        <th>Valor</th>
                                                        <th style="width: 3rem"></th>
                                                    </tr>
                                                </ng-template>
                                                <ng-template pTemplate="body" let-gasto let-i="rowIndex">
                                                    <tr>
                                                        <td>{{ gasto.nome }}</td>
                                                        <td class="font-bold text-red-500">
                                                            - {{ gasto.valor | currency:'BRL' }}
                                                        </td>
                                                        <td>
                                                            <p-button icon="pi pi-trash" [text]="true" severity="danger"
                                                                (onClick)="removerGasto(i)"></p-button>
                                                        </td>
                                                    </tr>
                                                </ng-template>
                                            </p-table>
                                        </div>
                                        

                                    </div>
                                    <div class="flex pt-6 justify-between">
                                        <p-button label="Voltar" severity="secondary" icon="pi pi-arrow-left"
                                            (onClick)="activateCallback(1)" />
                                        <p-button label="Avançar" icon="pi pi-arrow-right" iconPos="right"
                                            (onClick)="activateCallback(3)"  [disabled]="!(listaGastosIniciais.length > 0)" />
                                    </div>
                                </div>
                            </ng-template>
                        </p-step-panel>

                        <p-step-panel [value]="3">
                            <ng-template #content let-activateCallback="activateCallback">
                                <div class="flex flex-col h-48">
                                    <div
                                        class="border-2 border-dashed border-surface-200 rounded p-5 flex flex-column gap-4">

                                        <h2 class="text-center m-0">Confira seus dados</h2>
                                        <p class="text-center text-500 mb-3">Verifique se está tudo certo antes de criar
                                            seu painel.</p>

                                        <div class="review-item">
                                            <div class="flex justify-content-between align-items-center mb-2">
                                                <span class="text-lg font-bold text-700">💰 Sua Renda/Orçamento</span>
                                                <!-- <p-button icon="pi pi-pencil" [text]="true" label="Alterar"
                                                    (onClick)="activeIndex = 0"></p-button> -->
                                            </div>

                                            <div class="dado-destaque">
                                                {{ orcamento_input | currency:'BRL' }}
                                            </div>
                                        </div>

                                        <hr class="w-full border-top-1 border-none surface-border" />

                                        <div class="review-item">
                                            <div class="flex justify-content-between align-items-center mb-2">
                                                <span class="text-lg font-bold text-700">📉 Seus Gastos Fixos</span>
                                            </div>

                                            <div *ngIf="listaGastosIniciais.length > 0; else semGastos">
                                                <p-table [value]="listaGastosIniciais"
                                                    styleClass="p-datatable-sm p-datatable-striped">
                                                    <ng-template pTemplate="header">
                                                        <tr>
                                                            <th>Descrição</th>
                                                            <th class="text-right">Valor</th>
                                                        </tr>
                                                    </ng-template>
                                                    <ng-template pTemplate="body" let-gasto>
                                                        <tr>
                                                            <td>{{ gasto.nome }}</td>
                                                            <td class="text-right text-red-500 font-medium">
                                                                {{ gasto.valor | currency:'BRL' }}
                                                            </td>
                                                        </tr>
                                                    </ng-template>
                                                    <ng-template pTemplate="footer">
                                                        <tr>
                                                            <td class="text-right font-bold">Total:</td>
                                                            <td class="text-right font-bold text-red-600">
                                                                {{ totalGastos | currency:'BRL' }}
                                                            </td>
                                                        </tr>
                                                    </ng-template>
                                                </p-table>
                                            </div>

                                            <ng-template #semGastos>
                                                <div class="p-3 surface-100 border-round text-center text-500">
                                                    Nenhum gasto informado.
                                                </div>
                                            </ng-template>
                                        </div>

                                        <div class="botao-continuar">
                                            <p-button label="Voltar" icon="pi pi-arrow-left" iconPos="right"
                                                (onClick)="activateCallback(2)" size="small" />
                                            <p-button label="Confirmar" icon="pi pi-check" severity="success"
                                                size="small">
                                            </p-button>
                                        </div>

                                    </div>
                                </div>
                                <div class="flex pt-6 justify-start">

                                </div>
                            </ng-template>
                        </p-step-panel>
                    </p-step-panels>
                </p-stepper>
            </div>
        </div>

    </main>

</div>